<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./includes/head.server.view.ejs %>
</head>
<body class="container">

    <header>
        <% include ./includes/header.server.view.ejs %>
    </header>

    <main>
    <div class="row"> 
     <div class="col-sm-15">
                
                <div class="well">
                    Library
                </div>
     </div>
    </div>
    <div class="row">
     <div class="col-sm-4">
                
                <div class="well">
                   <a href="">link1</a><hr>
                   <a href="">link2</a><hr>
                   <a href="">link3</a><hr>
                   <a href="">link4</a><hr>
                   <a href="">link1</a><hr>
                   <a href="">link2</a><hr>
                   <a href="">link3</a><hr>
                   <a href="">link4</a><hr>
                   <a href="">link1</a><hr>
                   <a href="">link2</a><hr>
                   <a href="">link3</a><hr>
                   <a href="">link4</a><hr>
                </div>
            </div>
     <div class="col-sm-8">
            <div class="well">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            </div>
     </div>
     </div>
    </main>
<hr>
    <footer>
        <% include ./includes/foot.server.view.ejs %>
    </footer>
    
</body>
</html>